.menu__img {
  background-image: url(../../../img/menu__eat.jpg);
  width: 361px;
  height: 513px;
  background-position: center;
  background-size: cover;
  display: block;
}

@media screen and (max-width: 769px) {
  .menu__img {
    width: 286px;
    height: 406px;
  }
}
