.main__title {
  margin: 35px 0 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #F7FAFF;
  position: relative;
  max-width: 760px;
}

@media screen and (max-width: 900px) {
  .main__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 320px;
    margin: 18px 0 20px;
  }
}
