.contacts__btn {
  width: 206px;
  height: 57px;
  background-color: transparent;
  border: 2px solid #101010;
  border-radius: 199px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #101010;
  z-index: 3;
}

.contacts__btn:hover {
  cursor: pointer;
  background-color: #F7FAFF;
  color: #783a30;
  border-color: #783a30;
}
