.menu__kitchen {
  display: grid;
  grid-template-columns: 361px 361px;
  grid-template-rows: 85px 513px;
  gap: 33px;
  margin-bottom: 50px;
}

@media screen and (max-width: 769px) {
  .menu__kitchen{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
