.carousel__img {
  width: 600px;
  height: 300px;
  display: block;
  position: absolute;
  object-fit: contain;
  object-position: center;
  transition: all .5s;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .carousel__img {
    width: 300px;
    height: 200px;
  }
}
