.events__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #F7FAFF;
  margin: 19px 0;
}

@media screen and (max-width: 769px) {
  .events__title {
    font-size: 16px;
    line-height: 20px;
  }
}
