.footer__vk {
  background-image: url(../../../img/vk-icon.png);
  width: 47.5px;
  height: 47.5px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}
