.info__works-time {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #101010;

}

@media screen and (max-width: 1000px) {
  .info__works-time {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
}
