.events__carousel {
  white-space: nowrap;
  align-items: center;
  position: relative;
  height: 534px;
  overflow: hidden;

}

@media screen and (max-width: 769px) {
  .events__carousel {
    
  }
}
