.menu__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #F7FAFF;
  margin: 20px 0;
  width: 100%;
}
