.gallery__btn-right {
  background-image: url(../../../img/row.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 32px;
  transform: rotate(180deg);
  position: absolute;
  right: 45%;
  cursor: pointer;

}
