.beverages__table {
  font-family: 'Kontemporary';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #101010;
  margin-left: 19.5px;
  margin-top: 20px;
  width: 331px;
  height: 390px;
  border-collapse: collapse;
}

.beverages__table td {
  border-bottom: 0.5px solid #8A8A8A;
  ;
}
@media screen and (max-width: 900px) {
  .beverages__table {
    width: 260px;
  }
}

@media screen and (max-width: 769px) {
  .beverages__table {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 250px;
  }
}
